---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=34.0522,-118.2437&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"106\",\n               \"short_name\"
        : \"106\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"West 1st Street\",\n               \"short_name\" : \"W 1st St\",\n               \"types\"
        : \n               [\n                  \"route\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Downtown Los Angeles\",\n
        \              \"short_name\" : \"Downtown Los Angeles\",\n        [...]
