---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=35.0522,-119.2437&key=<GOOGLE_API_KEY>&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Cappello\",\n
        \              \"short_name\" : \"Cappello\",\n               \"types\" :
        \n               [\n                  \"route\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Bakersfield\",\n               \"short_name\"
        : \"Bakersfield\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Kern County\",\n               \"short_name\"
        : \"Kern C[...]
